<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnName</key>
		<string>推荐</string>
		<key>columnSelected</key>
		<true/>
		<key>columnSequence</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>本地</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<true/>
		<key>columnSequence</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>社会</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<true/>
		<key>columnSequence</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>汽车</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<true/>
		<key>columnSequence</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>军事</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<true/>
		<key>columnSequence</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>电影</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<true/>
		<key>columnSequence</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>科技</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<false/>
		<key>columnSequence</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>动漫</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<false/>
		<key>columnSequence</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>家居</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<false/>
		<key>columnSequence</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>财经</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<false/>
		<key>columnSequence</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>columnName</key>
		<string>文化</string>
		<key>columnType</key>
		<integer>0</integer>
		<key>columnSelected</key>
		<false/>
		<key>columnSequence</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
